
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400 !important;500 !important;600 !important;700;800&display=swap');

:root {
  --mainColor: #012C57;
  --secondColor: #c5c5c5;
  --mainSidebar: #8a9fbe;
  --white: #fff;
  --black: #000;
  --transparent: transparent;
  --input: #eee;
  --firstBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
  --secondBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.5);
  --thirdBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.75);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);  
}

.bg-input {
  background-color: var(--input);
}

#ready {
  text-align: center;
  z-index: 99999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--mainColor); */
  color: var(--white);
  background-color: var(--mainColor);
}

section,
header{
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  box-shadow: none;
}

/* i,
img,
video {
    cursor: pointer;
} */

.main-color {
  color: var(--mainColor) !important;
}

.main-bg {
  background-color: var(--mainColor);
}

.second-color {
  /* color: #636363; */
  color: var(--secondColor);
}

.second-bg {
  /* background-color: #636363; */
  background-color: var(--secondColor);
}

.black-btn {
  background-color: var(--mainColor);
  color: var(--white);
  border: 1px solid var(--mainColor) !important;
}

.black-btn:hover {
  background-color: var(--transparent);
  color: var(--mainColor);
}

.second-btn {
  background-color: var(--transparent);
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.second-btn:hover {
  background-color: var(--mainColor);
  color: var(--white);
}


/* navbar */
.navbar.nav-total {
  box-shadow: var(--firstBoxShadow);
}

.navbar.nav-total .navbar-toggler {
  transition: all 0.25s;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.navbar.nav-total .navbar-toggler::before {
  content: '';
  position: absolute;
  width: 30px !important;
  height: 3px !important;
  background-color: var(--mainColor);
  transition: all 0.25s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 var(--mainColor);
}

.navbar.nav-total .navbar-toggler.convert::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 var(--mainColor);
}

.navbar.nav-total .navbar-toggler::after {
  content: '';
  position: absolute;
  width: 30px !important;
  height: 3px !important;
  background-color: var(--mainColor);
  transition: all 0.25s;
  transform: translateY(10px);
}

.navbar.nav-total .navbar-toggler.convert::after {
  transform: translateY(0px) rotate(-45deg);
}

.navbar.nav-total .navbar-toggler:focus,
.navbar.nav-total .navbar-toggler:hover {
  box-shadow: none;
}

.navbar.nav-total .navbar-nav li {
  margin: auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.nav-total .navbar-nav li a {
  color: #ACACAC;
  /* color: var(--secondColor); */
  position: relative;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s;
  text-align: center;
}

.navbar.nav-total .navbar-nav li a::before {
  content: '';
  position: absolute;
  width: 50%;
  opacity: 0;
  height: 1.5px;
  background-color: var(--mainColor);
  /* background-color: var(--white); */
  bottom: 2px;
  right: 100%;
  transition: all 0.25s;
}

.text-en{
  text-align: left !important;
}

.text-ar{
  text-align: right !important;
}

.active {
  font-weight: 700 !important;
}

.active,
.navbar-nav a:focus,
.navbar-nav a:hover {
  color: var(--mainColor) !important;
  /* color: var(--white) !important; */
}

.active::before,
.navbar-nav a:focus::before,
.navbar-nav a:hover::before {
  right: 0% !important;
  transform: translateX(-50%) !important;
  opacity: 0.7 !important;
}

.navbar-collapse {
  /* background-color: rgba(0, 0, 0, 0.9); */
  transition: all 0.5s;
}

.custome .language {
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  background-color: var(--transparent);
  padding: 10px;
  cursor: pointer;
  color: var(--mainColor);
  box-shadow: var(--firstBoxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}

.language button{
  font-size: 16px;
  font-weight: 500;
  color: var(--mainColor);
  border: none;
  outline: none;
  background-color: var(--transparent);
  cursor: pointer;
  transition: all 0.25s;
}

.language i {
  margin-right: 6px;
}

.custome .language:hover {
  background-color: var(--mainColor);
}

.custome .language:hover button,
.custome .language:hover h5 {
  color: var(--white) !important;
}

.custome .language:hover.language i {
  color: var(--white) !important;
}

.signup-btn a{
  border: 1px solid var(--mainColor) !important;
  border-radius: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto 1rem;
  transition: all 0.25s;
}

.signin-btn a{
  border: 1px solid var(--mainColor) !important;
  border-radius: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto 1rem;
  transition: all 0.25s;
}


/* Responsive navbar */

@media screen and (min-width: 991.9px) and (max-width: 1200px) {
  .special-w {
    width: 95% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 994px) {
  /* .navbar.nav-total .navbar-nav li a {
    font-size: 15px;
  } */

  .navbar.nav-total .navbar-toggler {
    display: none !important;
  }
}

@media screen and (max-width: 991.9px) {

  .navbar.nav-total .navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .special-w {
      width: 90% !important;
  }

  /* .active::before,
  .navbar-nav a:focus::before,
  .navbar-nav a:hover::before {
      display: none !important;
  } */

  .navbar.nav-total .navbar-nav li a , .navbar.nav-total .navbar-nav li span {
      margin-bottom: 0.5rem;
  }

  .signup-btn a{
    margin: 1rem auto;
  }

  .signin-btn a{
    margin: 1rem auto;
  }
}

@media screen and (max-width: 500px) {

  .navbar.nav-total .navbar-toggler {
    transition: all 0.25s;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
  }
  
  .navbar.nav-total .navbar-toggler::before {
    width: 25px !important;
    height: 3px !important;
    transform: translateY(-8px);
    box-shadow: 0 8px 0 var(--mainColor);
  }
  
  .navbar.nav-total .navbar-toggler::after {
    width: 25px !important;
    height: 3px !important;
    transform: translateY(8px);
  }
}

/* header-home */

.total-header {
  padding-top: 5rem;
  background-image: url(./componants/images/home/Rectangle\ 143.png);
}

.min-vh-70 {
  min-height: 70vh;
}

.caption h1 {
  color: var(--mainColor);
  width: 80%;
  font-size: 4.5rem;
}

.caption p {
  width: 80%;
  font-size: 20px;
  line-height: 26px;
}

.buttons {
  width: 40%;
}

.buttons a, .buttons button {
  font-size: 18px;
  padding-top: 12px;
  width: 200px;
  padding-bottom: 12px;
  font-weight: 600;
  line-height: 22px;
  transition: all 0.25s;
}

.trailer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 10000;
  /* background-color: rgba(0, 0, 0, 0.907); */
  background-color: var(--mainColor);
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer.play{
  visibility: visible;
  opacity: 1;
}

.trailer iframe{
  position: relative;
  width: 900px;
  height: 500px;
  outline: none;
}

.close{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  font-size: 30px;
}

/* Responsive header section */

@media screen and (max-width: 992px) {
  .total-header {
      padding-bottom: 2rem;
  }

  .caption {
      width: 85%;
      margin-right: auto;
      margin-left: auto;
  }

.caption p,
.caption-about p {
  font-size: 18px;
}

  .trailer iframe{
    max-width: 90%;
  }

  .buttons {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .caption h1 {
      font-size: 4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .buttons {
    width: 50%;
  }
}

@media screen and (width: 992px) {
  .buttons {
    width: 55%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .caption h1 {
      font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .caption h1 {
      font-size: 2.5rem;
  }

  .buttons{
    width: 100%;
  }

  .buttons a, .buttons button {
    font-size: 16px;
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .caption h1 {
      font-size: 2rem;
  }

.caption p {
  font-size: 16px;
}

  .buttons{
    width: 100%;
  }

  .buttons a, .buttons button {
    font-size: 13px;
    width: 100%;
  }
}

@media screen and (max-width: 390px) {

  .caption h1 {
    font-size: 1.8rem;
  }

  .caption p {
  font-size: 14px;
  }

  .buttons a, .buttons button {
    font-size: 12px;
  }
}

/* features section */

.img-features{
  background-color: var(--mainColor);
  border-radius: 20px;
  box-shadow: var(--secondBoxShadow);
  transition: all 1s !important;
}

.img-features h2{
  transition: all 0.5s !important;
}

.img-features:hover{
  background-color: var(--white) !important;
}

.img-features:hover h2{
  color: var(--mainColor) !important;
}

.feature {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 2.5rem;
  border-radius: 12px;
  box-shadow: var(--thirdBoxShadow);
  transition: all 0.75s;
}

.feature:hover {
  /* background-color: #000 !important; */
  background-color: var(--mainColor) !important;
}

.feature span {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border: 1px solid var(--mainColor);
  /* background-color: #000; */
  /* background-color: var(--mainColor); */
  border-radius: 50%;
  transition: all 0.5s;
}

.feature:hover span{
  background-color: var(--white) !important;
}

.feature span img {
  width: 40px;
  transition: all 0.5s;
}

.feature span:hover img {
  transform: scale(1.15, 1.15);
}

.feature p {
  font-size: 18px;
  line-height: 1.25;
  transition: all 0.5s;
}

.feature:hover p{
  color: var(--white) !important;
}

@media screen and (max-width: 992px) {
  .img-features{
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .feature{
    width: 85%;
  }
}

/* app section */

.main-btn-p {
  background-color: var(--mainColor);
  color: var(--white);
  border: 1px solid var(--mainColor) !important;
}

.main-btn-p:hover {
  background-color: var(--transparent);
  color: var(--mainColor);
}

.second-btn-p {
  background-color: var(--transparent);
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.second-btn-p:hover {
  background-color: var(--mainColor);
  color: var(--white);
}

.caption-app h2{
  color: var(--mainColor);
}

.caption-app a,
.caption-app button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.caption-app .parag p{
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .caption-app,
    .img-app{
      width: 85%;
      margin-right: auto;
      margin-left: auto;
  }

  .caption-app .parag p{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .caption-app a,
  .caption-app button {
      width: 100% !important;
  }

  .caption-app .parag p{
    font-size: 16px;
  }
}

/* plans section */

#plans h2{
  color: var(--mainColor);
}

.offer{
  box-shadow: var(--thirdBoxShadow) !important;
  cursor: pointer;
  border-radius: 10px;
}
.offer:hover .cont-price{
  border-color: var(--mainColor);
}
.offer .name{
  color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  text-align: center;
  padding: 1.25rem 0;
  background-color: var(--mainColor);
  margin-bottom: 0;
}
.cont-price{
  box-shadow: var(--thirdBoxShadow) !important;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: all 0.25s;
}

.cont-price h4{
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 0.75rem;
  /* color: #000; */
  color: var(--mainColor);
}

.cont-price .salary{
  color: #00000080;
  text-align: center;
  width: 40%;
  margin: auto;
  font-weight: 600;
  margin-bottom: 1.75rem;
}
.cont-price h4.through{
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: #00000080;
}
#plans .buttons a{
  border-radius: 8px;
  padding: 0.75rem 0;
  margin-bottom: 1.5rem;
}

/* Responsive plans section */

@media screen and (max-width: 768px){
  #plans{
      width: 85%;
      margin-right: auto;
      margin-left: auto;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {

  .cont-price h4{
    padding: 0 1.25rem;
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }
  
  .cont-price .salary{
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 380px) {
  
  .cont-price h4{
    font-size: 1rem;
  }
}

/* footer */

.cont-imgFooter {
  /* background: var(--mainSidebar); */
  background: var(--transparent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-imgFooter.foot {
  display: block;
  margin-bottom: 0px !important;
  height: 180px !important;
}

footer .cont-imgFooter{
  width: 250px;
  height: 220px;
  margin-bottom: 1rem;
}

.footer h5 {
  text-transform: capitalize;
  /* color: var(--mainColor); */
  color: var(--white);
  font-weight: 600;
}

.footer p {
  /* color: #ECECEC; */
  /* color: var(--secondColor); */
  color: #999;
  letter-spacing: 1px;
  margin: 2rem 0;
  font-weight: 600;
}

.footer p:hover {
  color: var(--secondColor);
}

.icons-footer a {
  /* width: 40px;
  height: 40px; */
  padding: 5px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  /* font-size: 18px; */
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(154, 154, 154, 0.25);
}

.icons-footer i,
.icons-footer img {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-footer a .fa-facebook-f {
  color: #1877f2;
}

.icons-footer a .fa-twitter {
  color: #1da1f2;
}

.icons-footer a .fa-instagram {
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.icons-footer a .fa-whatsapp {
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: #25d366;
  font-size: 22px !important;
}

.icons-footer a .fa-linkedin-in {
  color: #0077b5;
}

.navigate a {
  /* color: var(--secondColor); */
  color: #999;
  font-weight:600;
  transition: all 0.3s;
}

.bg-span{
  background-color: var(--secondColor);
  /* background-color: #999; */
  box-shadow: var(--secondBoxShadow);
  cursor: pointer;
}

.navigate a:hover, .navigate a:focus {
  /* color: var(--mainColor); */
  /* color: #999 !important; */
  color: var(--secondColor) !important;
}

.navigate span {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--white);
  border-radius: 50%;
  /* color: #000 !important; */
  color: var(--mainColor) !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigate span i {
  font-size: 12px;
}

.navigate div p {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Responsive footer */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .icons-footer a {
    margin-right: 6px;
  }

  /* .icons-footer a:last-child {
    margin-right: 0px;
  } */
}

@media screen and (max-width: 992px) {

  .icons-footer {
      justify-content: center;
  }

  footer .cont-imgFooter{
    width: 180px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {

  .logo-footer,
  .navigate {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
  }

  footer .cont-imgFooter{
    width: 150px;
    height: 130px;
  }
}

/* check out page */

.check-out .buttons{
  width: 100%;
}

.check-out .buttons button{
  width: 50%;
}

.radio-input{
  border-radius: 10px;
  box-shadow: var(--secondBoxShadow);
  display: flex;
  vertical-align: middle;
  height: 90px !important;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  margin-top: 15px;
}

.radio-input input[type='radio']{
  display: none;
}

.radio-input label{
  display: block;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.radio-input label::before{
  content: '';
  height: 18px;
  width: 18px;
  border: 2px solid #6F6F6F;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50% , -50%);
}

.radio-input label::after{
  content: '';
  height: 10px;
  width: 10px;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50% , -50%) scale(0);
  transition: all 0.3s;
}

.radio-input input[type='radio']:checked ~ label::before{
  border: 2px solid var(--mainColor) !important;
}

.radio-input input[type='radio']:checked ~ label::after{
  transform: translate(-50% , -50%) scale(1) !important;
}

.inputs-radio img{
  width: 60%;
}

.input-group{
  position: relative;
  border-radius: 0.75rem;
  background-color: var(--input);
  display: flex;
  align-items: center;
}

form label{
  padding-left: 5px;  
}

.input-group input{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.75rem;
  border: none;
  padding: 15px 40px 15px 20px; 
}

.input-group input:focus{
  outline: none;
}

.input-group img{
  position: absolute;
  top: 5px;
  right: 10px;  
  left: auto;   
  width: 60px;
  height: 35px;
  /* background-color: var(); */
  /* background-color: var(--secondColor); */
  background-color: var(--transparent) !important;
  border: none;
}

.input-group i{
  position: absolute;
  top: 50%;
  right: 15px;  
  left: auto;   
  transform: translateY(-50%);
  font-size: 18px;
  padding: 5px;
  /* background-color: var(); */
  /* background-color: var(--secondColor); */
  background-color: var(--transparent) !important;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 992px) {
  .check-out .caption-check, .check-out .offer{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .input-group input{
    padding-left: 20px !important;
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .check-out .offer .buttons a {
    width: 50%;
  }
}


/* sign pages */

.sign .img-sign-up img {
  height: 50rem;
  width: 85%;
}

.sign .img-sign-in img {
  height: 40rem;
  width: 85%;
}

.sign .buttons {
  width: 50%;
}

.sign .buttons button {
  width: 100%;
}

@media screen and (max-width: 992px) {

  .sign .img-sign-up img,
  .sign .img-sign-in img {
    height: 35rem;
  }

  .cont-form{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* join page */

.form-contact .form{
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(204, 204, 204, 1);
  border-radius: 24px;
}

.form-contact label{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.form-contact input{
  border-radius: 8px !important;
  background-color: #f3f3f3 !important;
}

.form-contact .buttons{
  margin-left: auto;
  margin-right: auto;
}

.form-contact .buttons button{
  /* width: 40%; */
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 992px){

  .form-contact .buttons{
    margin-top: 2rem !important;
    width: 50%;
  }
}

@media screen and (max-width: 768px){
  
  .form-contact .form {
    padding-right: 30px !important;
    padding-left: 30px !important;
    width: 85% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 500px) {

  .form-contact .main-title h2 {
    font-size: 18px;
  }

  .form-contact .main-title p {
    font-size: 14px;
  }

  .form-contact label{
    font-size: 16px;
  }

  .form-contact .buttons {
    width: 60%;
  }

  .form-contact .buttons button{
    font-size: 14px;
  }
}



/* not-found page */

.img-notfound {
  margin-top: 80px !important;
}

@media screen and (max-width: 992px){

  .img-notfound img {
    width: 75% !important;
  }
}

@media screen and (max-width: 768px){

  .img-notfound img {
    width: 100% !important;
  }
}


/* dashboard */

/* sidebar */

.sidebar {
  position: fixed;
  /* width: 300px; */
  height: 100%;
  background-color: var(--mainColor);
  padding-left: 10px;
  overflow-x: hidden;
  /* overflow-y: auto; */
  transition: all 0.5s;
}

.sidebar .menu-links {
  position: relative;
}

.sidebar .menu-links ul>div {
  margin-bottom: 25px;
  margin-top: 15px;
  position: relative;
}

.sidebar .menu-links ul>div .closeSidebar {
  position: absolute;
  top: 0;
  right: 15px;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: var(--mainSidebar);
}

.sidebar .menu-links .cont-imgFooter {
  /* width: 130px;
  height: 110px; */
  transition: all 0.5s;
}

.sidebar .menu-links ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar .menu-links ul li {
  position: relative;
  width: 100%;
  list-style: none;
  cursor: pointer;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.sidebar .menu-links ul li:hover {
  /* background-color: var(--mainSidebar); */
  background-color: #CCD5DD;
}

.sidebar .menu-links ul li a,
.sidebar .menu-links ul li div.logOut {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--mainSidebar);
}

.sidebar .menu-links ul li:hover a,
.sidebar .menu-links ul li:hover div.logOut {
  color: var(--mainColor);
}

.sidebar .menu-links ul li a .icon,
.sidebar .menu-links ul li div.logOut .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 50px;
  line-height: 45px;
  text-align: center;
}

.sidebar .menu-links ul li a .icon svg,
.sidebar .menu-links ul li div.logOut .icon svg {
  font-size: 1.75rem;
}

.sidebar .menu-links ul li a .title,
.sidebar .menu-links ul li div.logOut .title {
  position: relative;
  display: block;
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  line-height: 55px;
  transition: all 0.3s;
}

.sidebar .menu-links ul li a.active .title{
  font-weight: 600;
}

.sidebar .menu-links ul li:hover a::before,
.sidebar .menu-links ul li:hover div.logOut::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: var(--transparent);
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #CCD5DD;
  pointer-events: none;
}

.sidebar .menu-links ul li:hover a::after,
.sidebar .menu-links ul li:hover div.logOut::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: var(--transparent);
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #CCD5DD;
  pointer-events: none;
}

.sidebar a.active {
  color: var(--mainColor) !important;
  background-color: var(--mainSidebar) !important;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.sidebar a.active::after,
.sidebar a.active::before{
  box-shadow: none !important;
}


/* outlet */

/* navbar */

.dashboard .main{
  position: absolute;
  /* width: calc(100% - 300px);
  left: 300px; */
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
  /* padding: 0 10px; */
}

.dashboard .main .topbar {
  /* position:fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  z-index: 99;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--firstBoxShadow);
  padding: 10px;
  border-radius: 12px;
  transition: all 0.75s;
}

.dashboard .main .topbar .toggle-topbar {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--mainColor);
  cursor: pointer;
}

.dashboard .main .topbar .search-topbar {
  position: relative;
  margin: 0 10px;
  transition: all 0.5s;
}

.dashboard .main .topbar .search-topbar .group {
  position: relative;
  width: 100%;
}

.dashboard .main .topbar .search-topbar .group input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  outline: none;
  border: 1px solid #012c574e;
}

.dashboard .main .topbar .search-topbar .group svg {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--mainColor) !important;
}

.dashboard .main .topbar .user-img {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}

.dashboard .main .topbar .user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* responsive sidebar & navbar outlet */

/* @media screen and (max-width: 1000px) {
  .sidebar .menu-links ul li a .icon,
  .sidebar .menu-links ul li div.logOut .icon {
    
    height: 50px;
  }

  .sidebar .menu-links ul li a .title,
  .sidebar .menu-links ul li div.logOut .title {

    height: 50px;
  }
} */

@media screen and (max-width: 600px) {

  .sidebar {
    z-index: 999;
  }

}

.dashpage {
  transition: all 1.5s;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}


/* sales pages */

.sales-page .linkTo,
.addsales-page .note-page {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  padding: 0.8rem 1.25rem;
  border-radius: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}

.sales-page .linkTo a,
.addsales-page .note-page button {
    font-size: 18px;
    color: var(--white);
    display: flex;
    line-height: 26px;
    transition: all 0.5s;
  }

  .addsales-page .note-page button {
    color: var(--white);
    background-color: var(--transparent);
    line-height: 16px;
    border: none;
  }

.sales-page .linkTo a svg {
  background-color: var(--transparent);
  font-size: 18px;
  margin-right: 8px;
  margin-top: 2px;
}

.sales-page .linkTo:hover,
.addsales-page .note-page:hover {
  background-color: var(--transparent);
}

.sales-page .linkTo:hover a,
.addsales-page .note-page:hover button {
  color: var(--mainColor);
}

.sales-page .show-entires p {
  font-weight: 600;
  margin-bottom: 0px !important;
  color: var(--black);
}

table {
  position: relative;
}

/* th {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0 !important;
  z-index: 2 !important;
} */

.sales-page table th,
.sales-page table tr td {
  padding: 0.75rem;
  font-size: 15px;
  white-space: nowrap;
}

.sales-page table tr td {
  color: var(--black);
  opacity: 0.75;
  font-weight: 500;
}

.sales-page table svg {
  font-size: 20px;
  cursor: pointer;
}


/* addsales page */

.addsales-page .submitAdd-buttons button {
  width: 15%;
  font-weight: 600;
}


@media screen and (max-width: 1000px){

    .addsales-page form , .addsales-page .note-page {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }  

    .addsales-page .submitAdd-buttons button{
      width: 25%;
    }
}

@media screen and (max-width: 500px) {

  .addsales-page .submitAdd-buttons button{
    width: 30%;
  }
}

.location-page .btn-location button {
  font-weight: 500 !important;
}

@media screen and (max-width: 1000px) {

  .location-page .btn-location button {
      font-size: 14px;
  }
}

@media screen and (max-width: 570px) {

  .location-page .btn-location button {
      font-size: 13px;
  }
}


@media screen and (max-width: 570px) {

  h1 , .fs-1 , .h1{
      font-size: 26px !important;
  }

  h2 , .fs-2 , .h2{
      font-size: 22px !important;
  }

  h3 , .fs-3 , .h3{
      font-size: 20px !important;
  }

  h4 , .fs-4 , .h4{
      font-size: 18px !important;
  }

  h5 , .fs-5 , .h5{
      font-size: 16px !important;
  }

  h6 , .fs-6 , .h6{
      font-size: 14px !important;
  }

  .btn{
      font-size: 14px !important;
  }

  /* .radio-input label{
      font-size: 12px !important;
  } */

}

@media screen and (max-width: 400px) {

  h1 , .fs-1 , .h1{
      font-size: 24px !important;
  }

  h2 , .fs-2 , .h2{
      font-size: 20px !important;
  }

  h3 , .fs-3 , .h3{
      font-size: 18px !important;
  }

  h4 , .fs-4 , .h4{
      font-size: 16px !important;
  }

  h5 , .fs-5 , .h5{
      font-size: 14px !important;
  }

  h6 , .fs-6 , .h6{
      font-size: 12px !important;
  }

  .btn{
      font-size: 12px !important;
  }

}


.ant-switch.ant-switch-checked {
  background: #34C759;
}

.ant-switch.ant-switch-checked:hover {
  background: #34C759 !important;
}


.img-report {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-report img {
  width: 30%;
}

.link-entries .input-search svg {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-color: var(--transparent);
}


.number-item.first {
  background-color: var(--mainColor);
  box-shadow: var(--firstBoxShadow);
  color: var(--white);
  transition: all 0.5s;
}

.number-item.first:hover {
  background-color: var(--white);
  color: var(--mainColor);
}

.number-item.second {
  background-color: #CCD5DD;
  box-shadow: var(--firstBoxShadow);
  color: var(--black);
  transition: all 0.5s;
}

.number-item.second:hover {
  background-color: var(--white);
  color: var(--mainColor);
}

.statistic {
  box-shadow: var(--secondBoxShadow);
}

.vh-50 {
  height: 50vh !important;
}

.vh-75 {
  height: 75vh !important;
}

.vh-105 {
  height: 105vh;
}

.update-section {
  background-color : rgba(0, 0, 0, 0.9);
  height: 100% !important;
  position : absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


select , select:checked{
  border: none !important;
  outline: none !important;
}

.css-1s2u09g-control , .css-1s2u09g-control:checked , .css-1s2u09g-control:focus, .css-6j8wv5-Input, .css-14el2xx-placeholder{
  background-color: var(--transparent) !important;
  border: none !important;
  outline: none !important;
}


.btn-location button:hover i {
  color: var(--mainColor) !important;
}


.circle .apexcharts-legend.apx-legend-position-right, .circle .apexcharts-legend.apx-legend-position-left {
  display: none !important;
}


.apexcharts-toolbar {
  display: none !important;
}


textarea {
  resize: none;
}

@media screen and (min-width: 992px) {
  .size-row {
    width: 50%;
  }
}

@media screen and (max-width: 991.9px) and (min-width: 768px) {
  .size-row {
    width: 60%;
  }
}

@media screen and (max-width: 767.9px) and (min-width: 570px) {
  .size-row {
    width: 70%;
  }
}

@media screen and (max-width: 570px) {
  .size-row {
    width: 85%;
  }
}

.pagination .page-item .page-link {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
  background-color: rgba(0, 43, 87,0.2);
}

.pagination .page-item:not(:first-child) .page-link {
  margin-left: 5px !important;
}

.pagination .page-item .page-link:hover {
  z-index: 2;
  color: var(--white);
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

.pagination .active>.page-link, .page-link.active {
  background-color: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
  color: var(--white) !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor) !important;
  border-radius: 40px !important;
}

::-webkit-scrollbar-track {
  background-color: var(--secondColor) !important;
  border-radius: 20px !important;
}


.table.table-home tr th {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--white);
  background-color: #E0B75B;
}

.table.table-home tr th.side-en {
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 0;
}

.table.table-home tr th.side-ar {
  border-top-right-radius: 1.75rem;
  border-top-left-radius: 0;
}

.table.table-home tr td {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.table.table-home  tr td.last {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.most-pop-th-td{
  background-color: #002b5715 !important;
  font-size: 1.35rem !important;
  font-weight: bold !important;
}

.table-striped.table-home>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #002b5715;
}

.table-striped.table-home>tbody>tr:nth-of-type(even):hover>* {
  --bs-table-accent-bg: #002b5715;
}

tfoot {
  border: transparent;
}

@media screen and (max-width: 992px) {
  .table.table-home tr th {
    font-size: 1.25rem !important;
  }

  .table.table-home tr th.side-en {
    border-top-left-radius: 1.5rem;
  }
  
  .table.table-home tr th.side-ar {
    border-top-right-radius: 1.5rem;
  }
  
  .table.table-home tr td {
    font-size: 0.85rem;
  }

  .most-pop-th-td{
    font-size: 1rem !important;
  }

  .table.table-home tfoot tr td button, .table.table-home tfoot tr td a {
    font-size: 14px !important;
    width: 100% !important;

  }
}

@media screen and (max-width: 768px) {
  .table.table-home tr th {
    font-size: 1rem !important;
  }

  .table.table-home tr th.side-en {
    border-top-left-radius: 1.25rem;
  }
  
  .table.table-home tr th.side-ar {
    border-top-right-radius: 1.25rem;
  }
  
  .table.table-home tr td {
    font-size: 0.65rem;
  }

  .most-pop-th-td{
    font-size: 0.8rem !important;
  }

  .table.table-home tfoot tr td button, .table.table-home tfoot tr td a {
    font-size: 12px !important;
    white-space: nowrap;
  }

}

@media screen and (max-width: 570px) {


  .table.table-home tr th {
    font-size: 0.85rem !important;
  }

  .table.table-home tr th.side-en {
    border-top-left-radius: 1rem;
  }
  
  .table.table-home tr th.side-ar {
    border-top-right-radius: 1rem;
  }
  
  .table.table-home tr td {
    font-size: 0.6rem;
  }

  .most-pop-th-td{
    font-size: 0.7rem !important;
  }

  .table.table-home tfoot tr td button, .table.table-home tfoot tr td a {
    font-size: 10px !important;
    white-space: nowrap;
  }

}


@media screen and (max-width: 450px) {
  .table-scroll {
    overflow-x: auto;
    white-space: nowrap;
  }
}


.ant-pagination-jump-prev-custom-icon ,
.ant-pagination-jump-next-custom-icon {
  position: relative;
  /* content: '...' !important;
  color: #fff !important; */
}

.ant-pagination-jump-prev-custom-icon::before ,
.ant-pagination-jump-next-custom-icon::before {
  position: absolute;
  content: '...';
  width: 100%;
  height: 100%;
  background-color: #012c5725;
  color: var(--mainColor) !important;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 6px !important;
  transition: all 0.3s;
}

.ant-pagination-jump-prev-custom-icon:hover::before ,
.ant-pagination-jump-next-custom-icon:hover::before {
  background-color: var(--mainColor);
  color: var(--white) !important;
}

.ant-pagination-item , .ant-pagination-next , .ant-pagination-prev {
  background-color: #012c5725 !important;
  color: var(--mainColor) !important;
  transition: all 0.3s;
}

.ant-pagination-item:hover , .ant-pagination-next:hover , .ant-pagination-prev:hover {
  background-color: var(--mainColor) !important;
  color: var(--white) !important;
}

.ant-pagination-item-active {
  background-color: #012C57 !important;
  color: var(--white) !important;
}